#sidebar #sideNav li a.active {
    background: #ffffff;
    font-weight: bold;
    border-right: 1px solid transparent;
    margin-right: -1px;
    border-top: 1px solid #e0e0da;
    border-bottom: 1px solid #e0e0da;
    color: red;
}