.tabs div{
    display: none;
    clear: both;
    min-height: 500px;
}
.tabs .horizontal{
    margin: 0px;
    padding: 0px;
}
.tabs .horizontal li{
    float: left;
    list-style: none;
    height: 50px;
    line-height: 50px;
    width:250px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}
.tabs .horizontal li:not(:first-child){
    margin-left: 5px;
}

.tabs .horizontal li.selectActive{
    border-bottom: 0.1rem solid red;
}