*{
	margin:0;
	padding:0;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	outline: none;
}
body,html{
  overflow-x:hidden;
}
input,a,img{
	outline: none;
	border:none;
}
html {
	color: #313538;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background: white;
}
@media screen and (min-width:1000px) {
	html,body,button,input,select,textarea {
		font-size: 14px;
	}
}
@media screen and (min-width:1200px) {
	html,body,button,input,select,textarea {
		font-size: 18px;
	}
}
@media screen and (min-width:1500px) {
	html,body,button,input,select,textarea {
		font-size: 22px;
	}
}
@media screen and (min-width:1700px) {
	html,body,button,input,select,textarea {
		font-size: 24px;
	}
}
html,body,button,input,select,textarea {
	font-family: "Microsoft YaHei","SimHei",arial!important;
	color: #313538
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.oh{
	overflow: hidden;
}
.tl{
	text-align: left;
}
.tr{
	text-align: right;
}
.tc{
	text-align: center;
}
.clear{
	clear:both;
	overflow: hidden;
	height: 0;
}
var,em,strong,i{
	font-weight: normal;
	font-style: normal;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #313538;
}
a:hover,a:active,a:focus{
	/*color: #71bd9c;*/
	text-decoration: none;
}
header{
	height: 59px;
	border-bottom: 1px solid #f0f0f0;
	position:fixed;
	width:100%;
	left:0;
	top:0;
	z-index:1000;
	background:white;
}
.wecode{
	position: absolute;
	right: 125px;
	top: 94px;
	display: none;
	width: 168px;
	height: 182px;
	z-index: 100;
}
.user{
	margin-right: 10px;
}
.user span{
	max-width: 115px;
	overflow:hidden;
	text-overflow:ellipsis; 
	white-space: nowrap;
	color: #71bd9c;
	font-size: 14px;
	line-height: 42px;
	margin-right: 10px;
}
.user img{
	width: 38px;
	height: 38px;
	border:2px solid #71bd9c;
	border-radius: 20px;
	margin-right: 5px;
}
.logo{
	margin-left: 100px;
	margin-top: 13px;
	width: 1.6rem;
}
.loginArea{
	margin-right: 100px;
	padding-top: 10px;
}
.loginArea .wechat{
	margin-right: 10px;
}
.loginArea a{
	width: 98px;
	height: 28px;
	border:1px solid #71bd9c;
	color: #71bd9c;
	font-size: 18px;
	border-radius: 8px;
	text-align: center;
	line-height: 28px;
	margin-top: 5px;
	margin-right: 8px;
}
.loginArea a.loginBtn2{
	background: #71bd9c;
	color: white;
}
.loginArea a:hover{
	background:#71bd9c;
	border:1px solid #71bd9c;
	color: white;
}
.loginArea a.loginBtn2:hover{
	background: white;
	color: #71bd9c;
}
.navList2{
	font-size: 18px;
	color: #313538;
	margin-top: 18px;
	margin-right: 62px;
}
.navList2 li{
	margin-right: 28px;
}
.navList2 li a{
	font-size: 18px;
	color: #313538;
}
.navList2 li a:hover{
	color: #71bd9c;
}
.navList2 li a.cur{
	color: #71bd9c;
}
footer{
	background: #313538;
	color: white;
	padding: 60px 0;
}
.footCon{
	width: 1100px;
	margin: 0 auto;
}
.linkOut{
	text-align: center;
	width: 660px;
}
.linkOut ul{
	margin-bottom: 20px;
}
.linkOut ul li.title{
	font-size: 18px;
	margin-right: 40px;

}
.linkOut ul li{
	margin-right: 18px;
}
.linkOut ul li a{
	font-size: 14px;
	color: white;
}
.workDay dt{
	font-size: 26px;
}
.work_dd1{
	font-size: 16px;
	margin-top:5px;
}
.work_dd2{
	margin-top:15px;
}
.work_dd2 a{
	display: block;
	width: 150px;
	height: 38px;
	background: #000000;
	border:1px solid white;
	border-radius: 20px;
	color: white;
	text-align: center;
	line-height: 38px;
	font-size: 16px;
}
.dibu_code{
	margin-top: 15px;
}
.dibu_code img{
	width: 210px;
}
.copyRight{
	text-align: left;
	font-size: 14px;
	margin-top: 20px;
}
.copyOut{
	margin-left: 20px;
}
.concerUs{
	padding-top: 20px;
}
.concerUs dt{
	border-right: 1px solid #000000;
	width: 34px;
	text-align: center;
	padding-right: 10px;
}
.concerUs dt img:first-child{
	margin-bottom: 6px;
}
.concerUs dd{
	margin-left: 60px;
	font-size: 14px;
	text-align: left;
}
.concerUs dd.concerUs_dd1{
	font-size: 24px;
	margin-bottom: 22px;
}
.main{
	width: 1100px;
	margin-bottom: 96px;
}
/*index*/
.wakeEnjoy{
	height: 660px;
}
.enjoyDl{
	padding-top: 95px;
}
.enjoyDl dt{
	font-size:36px;
}
.enjoyDl dd{
	font-size: 16px;
	margin-top: 15px;
}
.enjoyOut .enjoyList li{
	width: 25%;
	height:80px;
	margin-bottom: 40px;
}
.enjoyOut .enjoyList li dl{
	margin-right: 20px;
}
.enjoyOut .enjoyList li dl dt,.enjoyOut .enjoyList li dl dt img{
	width: 60px;
	height: 60px;
	border-radius: 30px;
}
.enjoyOut .enjoyList li dl dd{
	margin-left: 65px;
}
.enjoyName{
	color: #8c949a;
	font-size: 14px;
	margin-top: 5px;
}
.enjoyClass{
	margin-top: 5px;
	font-size: 14px;
}
.slideInner{
	position: absolute;
}
.slideUp{
	margin-top: 60px;
	position: relative;
	height: 200px;
	overflow: hidden;
}
.pracCourse{
	text-align: center;
}
.pracCourse{
	padding-top: 140px;
}
.pracCourse dt{
	font-size: 42px;
}
.pracCourse dd{
	margin-top: 25px;
	font-size: 16px;
	line-height: 24px;
}
.pracCourse dd var{
	font-size: 12px;
	margin: 0 4px;
}
.logoList{
	background: #f8f8f8;
	margin: 90px auto;
	background: url(../images/company.png) no-repeat;
	height: 242px;
}
.checkMore a{
	display: block;
	width: 275px;
	height: 58px;
	border-radius: 2rem;
	font-size: 18px;
	text-align: center;
	line-height: 58px;
	background: #71bd9c;
	color: white;
	margin: 3rem auto;
}
.checkMore a:hover{
	background:#313538;
}
.bannerOut{
	width: 100%;
	position: relative;
	height: 23rem;
}
.imgList li{
	display: none;
	height: 23rem;
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	overflow: hidden;
}
.imgList li img{
	width: 100%;
}
.navList{
	position: absolute;
	width: 11rem;
	right: 42px;
	top: 6.5rem;
	box-shadow: 0 0 5px white;
}
.navList li{
	width: 100%;
	height: 1.66rem;
	background:rgba(255,255,255,0.8);
	font-size: 0.6rem;
	text-align: center;
	line-height: 1.66rem;
	margin-bottom: 1px;
	cursor: pointer;
}
.navList li:hover{
	background:#71bd9c;
	color: white;
}
.navList li.cur{
	background:#71bd9c;
	color: white;
}
.content{
	width: 52.8rem;
	margin: 0 auto;
	margin-top: 4rem;
}
.basicArea{
	margin-bottom: 2.5rem;
}
.basicHead img{
	display: block;
	width: 100%;
}
.areaTitle strong{
	height: 1.6rem;
	line-height: 1.6rem;
	font-size: 1.5rem;
}
.areaTitle var{
	display: inline-block;
	width: 0.66rem;
	height: 0.66rem;
	border-radius: 0.33rem;
	background: #71bd9c;
	margin-left: 0.26rem;
	display: none;
}
.areaTitle em{
	display: inline-block;
	width: 0.42rem;
	height: 0.42rem;
	border-radius: 0.21rem;
	background: #71bd9c;
	margin-left: 0.26rem;
	display: none;
}
.areaTitle i{
	display: inline-block;
	width: 0.26rem;
	height: 0.26rem;
	border-radius: 0.13rem;
	background: #71bd9c;
	margin-left: 0.26rem;
	display: none;
}
.basicHead {
	line-height: 2rem;
}
.sortCourse{
	margin-right: 5rem;
	font-size: 0.8rem;
	cursor: pointer;
}
.sortCourse i{
	font-style: normal;
	margin:0 1rem;
}
.sortCourse span.cur{
	color: #71bd9c;
}
.introBasic{
	line-height: 3.16rem;
	font-size: 0.8rem;
}
.guessFavorate .courseList li{
	height: 12.5rem;
}
.courseList li{
	width: 12.7rem;
	margin-right: 0.6rem;
	height: 12.5rem;
}
.courseList li dt{
	height: 7.6rem;
	position: relative;
	overflow: hidden;
	border-radius: 0.3rem 0.3rem 0 0;
}
.courseList li dl{
	border-radius: 0.3rem;
}
.courseList li dl:hover{
	box-shadow: 0 0 10px #cbcbcb;
}
.courseList li dt img{
	width: 100%;
}
.courseName{
	padding: 0.3rem 12px;
	font-size: 0.66rem;
	position: relative;
	height: 2.6rem;
}
.courseName2{
	padding: 0.3rem 10px;
	font-size: 0.66rem;
	position: relative;
}
.yellow_blue{
	position: absolute;
	right: 0.5rem;
	top: -10px;
}
.blueNew{	
	width: 1rem;
	margin-left: 0.3rem;
}
.yellowVip{
	width: 1rem;
	margin-left: 0.3rem;
}
.liveShow .courseName{
	overflow:hidden;
	text-overflow:ellipsis; 
	white-space: nowrap;
}
.seeNum{
	font-size: 0.5rem;
}
.seeNum img{
	margin-right: 0.3rem;
}
.courseMask{
	position: absolute;
	width: 96%;
	height: 62%;
	left: 2%;
	top: 2%;
	text-align: center;
	font-size: 0.66rem;
	background: rgba(255,255,255,0.9);
	display: none;
	padding-top: 20%;
	cursor: pointer;
}
a .courseMask:hover{
	color: #313538
}
.courseMask em{
	display: block;
}
.courseList li:nth-child(4n){
	margin-right: 0;
}
.liveShow .liveLeft{
	width: 24.6rem;
	overflow-x: hidden;
	position: relative;
	height: 18rem;
}
.liveShow .liveRight{
	width: 20.6rem;
	margin-left: 0.4rem;
}
.liveShow .liveRight ul li{
	width: 10rem;
	margin-bottom: 0.75rem;
	cursor: pointer;
}
.liveShow .liveRight ul li:nth-child(2n){
	margin-right: 0;
}
.liveShow .liveLeft ul{
	width: 2000px;
	height: 18rem;
	position: absolute;
	left: 0;
	top: 0;
}
.liveShow .liveLeft ul li{
	width: 24.6rem;
	height: 15.2rem;
	display: block;
	position: relative;
}
.liveShow .liveLeft ul li img{
	width: 24.6rem;
	display: block;
}
.showTitle{
	padding: 0.3rem;
    font-size: 0.66rem;
}
.hotShow{
	position: absolute;
	width: 2.8rem;
    height: 1.4rem;
    background: #e97900;
    color: white;
    font-size: 0.8rem;
    text-align: right;
    padding-right: 0.5rem;
    line-height: 1.4rem;
    left: -0.7rem;
    top: 0.5rem;
    border-radius: 1rem;
}
.onShow{
	position: absolute;
	width: 7rem;
	height: 1.25rem;
	background: #71bd9c;
	color: white;
	font-size: 0.8rem;
	padding-left: 4rem;
	top: 0;
	right: -2rem;
	text-align: center;
	line-height: 1.2rem;
	transform: rotate(40deg);
	-ms-transform: rotate(40deg);		/* IE 9 */
	-webkit-transform: rotate(40deg);	/* Safari and Chrome */
	-o-transform: rotate(40deg);		/* Opera */
	-moz-transform: rotate(40deg);		/* Firefox */
}
.leftChoose{
	position: absolute;
	left: 1rem;
	top: 6.4rem;
	cursor: pointer;
}
.rightChoose{
	position: absolute;
	right: 1rem;
	top: 6.4rem;
	cursor: pointer;
}
.navLive{
	position: absolute;
	top: 13.5rem;
	left: 48%;
}
.navLive span{
	width: 8px;
	height: 8px;
	border-radius: 4px;
	border:1px solid #313538;
	margin-right: 10px;
}
.navLive span.cur{
	background: #313538;
}
.courseList li dt .beforeShow{
	position: absolute;
	width: 5rem;
	height: 0.8rem;
	background: #e97900;
	color: white;
	font-size: 0.6rem;
	padding-right: 3.3rem;
	top: 0;
	right: -3.4rem;
	text-align: right;
	line-height: 0.8rem;
	transform: rotate(40deg);
	-ms-transform: rotate(40deg);		/* IE 9 */
	-webkit-transform: rotate(40deg);	/* Safari and Chrome */
	-o-transform: rotate(40deg);		/* Opera */
	-moz-transform: rotate(40deg);		/* Firefox */
}
.courseList li dt .afterShow{
	position: absolute;
	width: 5rem;
	height: 0.8rem;
	background: #3d5060;
	color: white;
	font-size: 0.6rem;
	padding-right: 3.3rem;
	top: 0;
	right: -3.4rem;
	text-align: right;
	line-height: 0.8rem;
	transform: rotate(40deg);
	-ms-transform: rotate(40deg);		/* IE 9 */
	-webkit-transform: rotate(40deg);	/* Safari and Chrome */
	-o-transform: rotate(40deg);		/* Opera */
	-moz-transform: rotate(40deg);		/* Firefox */
}
.liveLove .liveLeft{
	width: 23rem;
}
.liveShow .loveRight{
	width: 9.58rem;
	margin-left: 0.2rem;
}
.otherLove{
	width: 10.6rem;
	background: #fafafa;
	font-size: 0.66rem;
	padding:1rem;
}
.otherLove li{
	height: 1.73rem;
	line-height: 1.73rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-bottom: 1px solid #f0f0f0;
}
.otherLove li:last-child{
	border-bottom: none;
}
.concerUs dt .footCode {
    position: absolute;
    right: -173px;
    top: -44px;
    width: 181px;
    height: 168px;
    display: none;
}
.concerUs dt {
    position: relative;
}
.friendShip{
	width: 90%;
	height: 50px;
	line-height: 50px;
	background:#464a4c;
	margin: 0 auto;
	margin-top: 40px;
	font-size: 16px;
	text-align: center;
}
.friendShip a{
	color: white;
	font-size: 14px;
	margin-right: 10px;
}
/*course*/
.banner{
	overflow: hidden;
}
.banner img{
	width: 100%;
	display: block;
}
.bread{
	height: 1.08rem;
	line-height: 0.8rem;
	padding: 0 0.7rem;
	margin-bottom: -1rem;
	margin:1rem auto;
	background:white;
}
.bread a{
	font-size: 0.66rem;
}
.bread span{
	font-style: italic;
	margin: 0 0.6rem;
	font-size: 0.2rem;
}
.content2{
	width: 52.8rem;
    margin: 5rem auto;
}
.content3{
	width: 52.8rem;
    margin: 1rem auto;
}
.chooseTj{
	background: #fcfcfc;
	padding:1.5rem 3rem;
	border-radius: 0.58rem;
	box-shadow: 0 0 10px #eeeeee;
}
.chooseTj ul li{
	line-height: 2rem; 
	position: relative;
	padding-left: 2.5rem;
}
.chooseTj ul li em{
	font-weight: bold;
	font-size: 0.75rem;
	margin-right: 1rem;
	position: absolute;
	left: 0;
	top: 0.2rem;
}
.chooseTj ul li a{
	font-size: 0.66rem;
	margin-right: 0.4rem;
	margin-top: 0.7rem;
	height: 1rem;
	padding: 0 0.3rem;
	line-height: 1rem;
	margin-bottom: 0.7rem;
}
.chooseTj ul li a input{
	outline:none;
	-webkit-appearance:none;
}
.chooseTj ul li a:hover{
	background: #71bd9c;
	color: white;
}
.chooseTj ul li a.cur{
	background: #71bd9c;
	color: white;
}
.userChoose{
	line-height: 2rem; 
}
.userChoose em{
	font-weight: bold;
	font-size: 0.75rem;
	margin-right: 1rem;
}
.userChoose span{
	font-size: 0.66rem;
	margin-right: 0.4rem;
	margin-top: 0.5rem;
	height: 1rem;
	padding: 0 0.3rem;
	line-height: 1rem;
	background: #f0f0f0;
	color: #71bd9c;
	float: left;
}
.userChoose span img{
	margin-left: 0.2rem;
	cursor: pointer;
}
.sortArea{
	margin-top: 2rem;
	padding-bottom: 0.5rem;
	width:52.8rem;
	margin:2rem auto 0;
}
.sortArea em{
	font-size: 0.75rem;
	font-weight: bold;
}
.sortArea span{
	margin-right: 0.5rem;
	font-size: 0.66rem;
	position: relative;
	padding-left: 0.7rem;
}
.sortArea span i{
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 0.25rem;
	border:1px solid #71bd9c;
	margin-right: 0.3rem;
	box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0.2rem;
}
.sortArea span i.cur{
	width: 0.5rem;
	height: 0.5rem;
	background: url(../images/cur.png) no-repeat;
	background-size: 100% 100%;
	border:none;
}
.alltypeCourse{
	margin-top: 1.5rem;
}
.courseList li dt {
	position: relative;
}
.alltypeCourse .courseList li{
	margin-bottom:0;
	height: 12.5rem;
}
.guessFavorate .courseList li:last-child{
	margin-right: 0;
}
.guessFavorate{
	margin-top: 2rem;
}
.guessFavorate .otherLove{
	width: 12.4rem;
	padding: 0.2rem;
}
.guessFavorate .otherLove li{
	padding: 0 0.3rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
}
.guessFavorate .otherLove li:hover{
	background: #71bd9c;
	color: white;
}
.guessFavorate .otherLove li:hover a{
	color: white;
}
.introduceCourse{
	background: url(../images/intro.jpg) no-repeat;
	background-size: 100%;
	height: 8.8rem;
	color: white;
	font-size: 0.75rem;
	padding: 3rem 5rem 0 5rem;
}
/*video------------------------------------*/
.loginCode {
    width: 1100px;
    height: 645px;
    background: rgba(255,255,255,0.9);
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -550px;
    margin-top: -322.5px;
    display: none;
    z-index: 1000;
    border: 1px solid #71bd9c;
}
.m {
    position: relative;
}
#energyMas{
	height:618px;
}
#mep_0 *{
	text-decoration:none!important;
	outline:none!important;
}
.energyMask,.loginCode2{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.7);
	border-radius: 0;
	margin-left: 0;
	margin-top: 0;
	color: white;
	text-align: center;
	z-index: 100;
}
.energyMask h3{
	color: white;
	font-size: 24px;
	text-align: center;
	padding-top: 18%;
	font-weight: normal;
}
.energyMask a{
	display:inline-block;
	margin: 0 auto;
	width: 160px;
	height: 50px;
	background: #71bd9c;
	color: white;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
	border-radius: 5px;
	margin-top: 80px;
}

.loginCode dl {
    text-align: center;
    padding-top: 135px;
}
.loginCode dl dt{
	height: 256px;
	width: 256px;
	margin:0 auto;
	margin-bottom: 60px;
}
.loginCode dl dd{
	font-size: 18px;
	line-height: 24px;
}
.loginCode dl dd a{
	color: #71bd9c;
}
.submitName{
	margin: 45px 0;
	text-align: center;
}
.submitName input{
	width: 280px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	background: #71bd9c;
	color: white;
	font-size: 18px;
	border-radius: 10px;
	border:none;
}
.main{
	width: 1100px;
	margin: 5rem auto;
}
.wakeEnjoy .main{
	margin:0 auto;
}

/**/
.courseTitle_h3{
	padding-top: 1.25rem;
	font-weight: normal;
}
.courseTitle_h3 span.title1{
	font-size: 1.25rem;
}
.courseTitle_h3 span.title2{
	font-size: 0.7rem;
	margin-left: 0.7rem;
}
.videoWord{
	background: #fdfdfd;
	padding: 1rem;
	margin-top: 1rem;
}
.videoWord dl dt{
	font-size: 0.75rem;
	margin-bottom: 10px;
}
.videoWord dl dd{
	font-size: 0.58rem;
	line-height: 18px;
	padding-bottom:1rem;
}
.videoWord dl{
	margin-bottom: 0.5rem;
}
.content3{
	width:1100px;
	margin: 0 auto;
}
.meassage_out{
	margin-bottom: 4rem;
	background: #fdfdfd;
}
.meassage_out h3{
	line-height: 2.5rem;
	border-bottom: 1px solid #f5f5f5;
	font-size: 0.75rem;
    margin:0 1.25rem;
    background: #fdfdfd;
}
.meassage_out ul li dl{
	margin: 0 1.25rem;
}
.meassage_out ul li dl dt,.meassage_out ul li dl dt img{
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
}
.meassage_out ul li dl dt{
	border: 1px solid #7ac1a3;
}
.meassage_out ul li dl dd{
	margin-left: 2.5rem;
}
.meassage_out ul li dl dd.message_name{
	font-size: 0.75rem;
	margin-top: 3px;
}
.meassage_out ul li{
	padding: 1.25rem 0 0.5rem;
}
.meassage_out ul li dl dd.message_time{
	font-size: 0.5rem;
	margin-top: 0.5rem;
	color: #bbbbbb;
}
.meassage_out ul li dl dd.message_time a{
	color: #71bd9c;
	margin-left: 0.9rem;
}
.message_word{
	font-size: 0.58rem;
	color: #4b4b4b;
	margin-left: 1.25rem;
	margin-top: 1rem;
}
.fixMore{
	height:6.25rem;
	line-height: 6.25rem;
	text-align: center;
	border-top: 1px solid #f0f0f0;
	margin:1.25rem;
	margin-bottom: 0;
	padding-top: 1.25rem;
}
.fixMore a{
	display: inline-block;
	width: 11.6rem;
	height: 2.5rem;
	text-align: center;
	line-height: 2.5rem;
	background:#71bd9c;
	color: white;
	border-radius: 2rem;
	font-size: 0.75rem;
}
.fixMore a:hover{
	background:#313538;
}
.suggseDiv{
	margin: 2rem 0;
}
.liveTitle{
	line-height: 3.42rem;
	font-size: 1.25rem;
	font-weight: normal;
	margin-top: 1rem;
}
.liveTitle .livePay{
	background: #71bd9c;
	color: white;
	font-size: 0.75rem;
	padding:0.1rem 0.4rem;
	border-radius: 0.2rem;
}
.liveTitle span.title1{
	font-size: 1.25rem;
}
.liveTitle span.title2{
	font-size: 0.7rem;
	margin-left: 0.7rem;
}
.liveHost{
	padding:0.8rem 0;
	position: relative;
	height: 3.2rem;
}
.liveHost dt{
	width: 3.2rem;
	height: 3.2rem;
	border-radius: 1.7rem;
	border:2px solid #71bd9c;
	overflow: hidden;
}
.liveHost dt img{
	width: 3.2rem;
}
.liveHost dd{
	margin-left: 4.16rem;
}
.liveHost dd.hostTalk{
	font-size: 1rem;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}
.liveHost dd.hostIntro{
	font-size: 0.75rem;
}
.hostOpen a{
	position: absolute;
	right: 1.3rem;
	width: 9.16rem;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	color: white;
	font-size: 1rem;
	background: #71bd9c;
	border-radius: 0.2rem;
	top: 1.3rem;
}
.seeVideoOut .m{
	width: 750px
}
/*scroll*/
#boxscroll {
	height: 420px;
	margin-left: 765px;
	overflow: auto;
}
#boxscroll ul{
	padding:1.5rem 0;
	background: #fafafa;
}
#boxscroll ul li{
	padding: 0.5rem 1rem;
	padding-left: 0;
	font-size: 0.66rem;
	cursor: pointer;
}
#boxscroll ul li:hover{
	background: #f0f0f0;
}
#boxscroll ul li.cur{
	background: #f0f0f0;
}
#boxscroll ul li dl dt{
	width: 3.5rem;
	text-align: right;
}
#boxscroll ul li dl dt a{
	display: inline-block;
	padding: 0.1rem 0;
	font-size: 0.66rem;
	width: 2.5rem;
	text-align: center;
	color: white;
}
#boxscroll ul li dl dd{
	margin-left: 4rem;
	line-height: 1rem;
}
#boxscroll ul li dl dt a.huifang{
	background: #3d5060;
}
#boxscroll ul li dl dt a.zhibo{
	background: #71bd9c;
}
#boxscroll ul li dl dt a.yugao{
	background: #e97900;
}
.planArea .areaLeft{
	width: 750px;
}
.planIntro{
	font-size: 0.66rem;
	margin-top: 0.5rem;
	width: 750px;
	line-height: 20px;
}
.liveHost2{
	border-bottom: none;
	margin-top: 1rem;
}
#boxscroll ul.planList{

}
#boxscroll ul.planList li dl dt,#boxscroll ul.planList li dl dt img{
	width: 5.66rem;
	height: 3.33rem;
	position: relative;
}
#boxscroll ul.planList li dl dt .lock{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/lock.png) no-repeat center center;
	background-color: rgba(255,255,255,0.4);
	left: 0;
	top: 0;
}
#boxscroll ul.planList li dl dd{
	margin-left: 6.2rem;
}
#boxscroll ul.planList li{
	padding-left: 1rem;
}
#boxscroll ul.planList li dl dd img{
	margin-right: 0.5rem;
}
.planVideo_time{
	margin-top: 0.5rem;
}
.planCon .videoWord{
	padding: 1rem;
}
.morePlan_area{
	margin-left: 765px;
	background: #fafafa;
	padding:1rem 0.5rem 1rem;
	margin-top: 1rem;
}
.morePlan_area .title{
	font-size: 0.75rem;
	margin-bottom: 1rem;
}
.morePlan_area ul li{
	height: 4.75rem;
	overflow: hidden;
	position: relative;
	margin-bottom: 0.5rem;
}
.morePlan_area ul li img{
	width: 100%;
	display: block;
}
.morePlan_area ul li dl{
	position: absolute;
	left: 1rem;
	top: 1rem;
}
.morePlan_area ul li dl dt{
	font-size: 0.66rem;
}
.morePlan_area ul li dl dd{
	font-size: 0.58rem;
}
.morePlan_area ul li .courseMask{
	position: absolute;
	width: 96%;
	height: 66%;
	left: 2%;
	top: 7%;
	text-align: center;
	font-size: 0.66rem;
	background: rgba(255,255,255,0.9);
	display: none;
	padding-top: 5%;
	cursor: pointer;
}
/*think-----------------------------*/
.thinkLeft{
	width: 316px;
}
.thinkRight{
	margin-left: 345px;
	height: 445px;
	background: #fdfdfd;
}
.thinkAudio dt,.thinkAudio dt img{
	width: 316px;
	height: 250px;
}
.audioTitle{
	font-size: 28px;
	color: #71bd9c;
	margin-top: 20px;
	margin-bottom: 5px;
}
.audioNum{
	font-size: 14px;
	color: #797b7c;
}
.otherCon{
	margin-top: 75px;
}
.otherCon h3{
	padding: 10px 0;
	font-size: 18px;
	font-weight: normal;
}
.otherCon ul li{
	width: 100%;
	height: 112px;
	margin-right: 1px;
	margin-bottom: 1px;
	position: relative;
	overflow: hidden;
}
.otherCon ul li img{
	width: 100%;
}
.thinkRight ul{
	background: #fdfdfd;
	font-size: 14px;
}
.thinkRight ul li{
	height: 50px;
	line-height: 50px;
	cursor: pointer;
}
.thinkRight ul li span{
	margin-left: 30px;
}
.thinkRight ul li var{
	margin-right: 30px;
	font-style: normal;
}
.thinkRight ul li.cur{
	background: #f6f6f6;
	color: #71bd9c;
}
.thinkRight ul li:hover{
	background: #f6f6f6;
	color: #71bd9c;
}
#mep_0 *{
	text-decoration:none!important;
	outline:none!important;
}
.otherCon ul li{
	position: relative;
	margin-bottom: 5px;
}
.otherCon ul li dl{
	position: absolute;
	left: 1rem;
	top: 1rem;
}
.otherCon ul li dl dt{
	font-size: 0.66rem;
}
.otherCon ul li dl dd{
	font-size: 0.58rem;
}
.otherCon ul li .courseMask{
	position: absolute;
	width: 96%;
	height: 72%;
	left: 2%;
	top: 7%;
	text-align: center;
	font-size: 0.66rem;
	background: rgba(255,255,255,0.9);
	display: none;
	padding-top: 5%;
	cursor: pointer;
	color: #313538
}
/*detail page recommend*/
.content3 .courseList li {
    width: 265px;
    margin-right: 12px;
    height: 250px;
}
.content3 .courseList li dt {
    height: 156px;
}
.content3 .courseList li dt img {
    width: 100%;
    height: 156px;
}
.content3 .courseList li:nth-child(4n) {
    margin-right: 0;
}
/*END*/
.ourService{
	position: fixed;
	right: 1rem;
	bottom: 20%;
	width: 6.25rem;
	text-align: right;
	z-index: 100;
	padding-right: 1rem;
}
.ourService a{
	display: block;
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
	border:1px solid #a9a8ae;
	color: #414141;
	font-size: 0.75em;
	margin-bottom: 0.75rem;
	text-align: center;
	box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.needService{
	background: url(../images/service.png) no-repeat;
	background-position: center center;
	background-size: 65%;
	position: relative;
}
.needService span{
	position: absolute;
	width: 1rem;
	height: 1rem;
	border-radius: 0.5rem;
	box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border:1px solid #71bd9c;
    background: #71bd9c;
    color: white;
    text-align: center;
    line-height: 0.9rem;
    right: -0.7rem;
    top: 0;
    font-size: 0.66rem;
}
.appDownload{
	background: url(../images/downwake.png) no-repeat;
	background-position: center center;
	background-size: 48%;
}
.backTop{
	background: url(../images/back_top.png) no-repeat;
	background-position: center center;
	background-size: 48%;
}
#backTop{
	display:none;
}
.backTop:hover{
	width: 6.25rem;
	height: 2rem;
	background: url(../images/backcur.png) no-repeat;
	background-size: 100% 100%;
	color: transparent;
	border: none;
}
.appDownload:hover{
	width: 6.25rem;
	height: 2rem;
	background: url(../images/downcur.png) no-repeat;
	background-size: 100% 100%;
	color: transparent;
	border: none;
}
.needService:hover{
	width: 6.25rem;
	height: 2rem;
	background: url(../images/sercur.png) no-repeat;
	background-size: 100% 100%;
	color: transparent;
	border: none;
}
.needService:hover span{
	background: white;
	color: #71bd9c;
}
.seeVideoOut .loginCode dl{
	padding-top: 70px;
}
.seeVideoOut .loginCode dl dt{
	margin-bottom: 40px;
	width: 200px;
	height: 200px;
}
.loginCode dl dt img{
	width: 100%;
	border: 4px solid #e6e6e6
}
.loginCode dl dt canvas{
	width: 100%;
	border: 4px solid #e6e6e6
}
.downCode {
    background: rgba(0,0,0,0.9);
}
.downCode dl {
    color: white;
}
/**/
.pageOut{
	overflow:hidden;
}
.page{
	overflow: hidden;
    margin: 60px 0;
    width: auto;
    float: right;
}
.page .pageItemActive {
    margin: 5px;
    background-color: #71bd9c;
    color: white;
}
.page .pageItem{
    margin: 5px;
    color:#8a8a8a;
    font-size:16px;
}
.page .pageItem:hover{
    background-color: #71bd9c;
    color:white;
}
.page .pageItemDisable{
    margin: 5px;
    background-color: #d3d3d4;
    color:white;
}
.page li{
    float: left;
    padding: 5px 10px;
    cursor: pointer;   
    font-size:16px;
}
.page .pageItemActive:hover{
	background-color: #d3d3d4;
    color:white;
}
.refresh{
	padding-top: 11.5rem;
	padding-bottom: 10rem;
}
.refresh .refresh_word{
	line-height: 4.16rem;
	font-size: 0.75rem;
	color: #cacaca;
}
.refresh_btn a{
	width: 5rem;
	height: 1.75rem;
	border-radius: 0.3rem;
	display: inline-block;
	background: url(../images/refresh.png) no-repeat;
	background-size: 14%;
	background-position: 12% center;
	background-color: #71bd9c;
	color: white;
	text-align: right;
	line-height: 1.75rem;
	font-size: 0.75rem;
	padding-right: 1.33rem;
}
/*alert*/
.type{
	padding: 1.25rem;
}
.type input{
	width: 6rem;
	height: 2.5rem;
	text-align: center;
	line-height: 2.5rem;
	background: #71bd9c;
	color: white;
	border:none;
	border-radius: 0.58rem;
}
input{
	outline: none;
	-webkit-appearance:none;
}
textarea{
	outline: none;
	-webkit-appearance:none;
}
.white_html{
	background: white;
}
.hidden_mask,.hidden_mask2{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 1000;
}
.appoint_inner{
	background: white;
	width: 320px;
	border-radius: 0.58rem;
	position: absolute;
	left: 50%;
	margin-left: -160px;
	top: 50%;
	margin-top: -75px;
}
.appoint_inner h3{
	padding: 2rem 0.5rem;
	text-align: center;
	color: #000000;
	font-size: 1rem;
	font-weight: normal;
}
.btnOut{
	padding: 1.25rem 1.66rem;
}
.btnOut input,.btnOut a{
	width: 46%;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	border-radius: 0.3rem;
	background: #c3c3c3;
	color: white;
	font-size: 0.9rem;
	border:none;
}
.btnOut2 a{
	width: 100%;
}
.btnOut input.cur,.btnOut a.cur{
	background: #71bd9c;
	color: white;
}
.toast_inner{
	width: 300px;
	background: white;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 50%;
	padding: 2.33rem 0;
	border-radius: 0.3rem;
	margin-top: -70px;
}
.toast_inner img{
	width: 4.16rem;
	height: 4.16rem;
	display: block;
	margin: 0 auto;
}
.toast_inner div{
	margin-top: 1.25rem;
	font-size: 1rem;
	color: #4c4c4c;
	text-align: center;
}
.titleH1{
	height: 3.33rem;
	line-height: 3.33rem;
	color: white;
	font-size: 1.42rem;
	position: relative;
	background: #71bd9c;
	text-align: center;
}
.titleH1 span{
	position: absolute;
	left: 1.25rem;
}
/*end*/
.footer404{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: url(../images/footer404.jpg) no-repeat;
	background-size: 100% 100%;
	height: 20%;
}
.content404{
	padding-top: 7%;
}
.dl404_one{
	font-size: 1rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}
.dl404_two a{
	width: 6.33rem;
	display: inline-block;
	height: 1.7rem;
	text-align: center;
	line-height: 1.7rem;
	background: #71bd9c;
	color: white;
	font-size: 0.75rem;
	border-radius: 0.2rem;
}
.dl404_two a:first-child{
	margin-right: 1rem;
}
input[type="radio"]{
	width:0;
	padding:0;
	border:none!important;
	background:transparent;
	height:0;
	margin:0;
	outline: none!important;
	-webkit-appearance:none!important;
	appearance: none;
	-moz-appearance:none!important;
	-o-appearance:none!important;
	-ms-appearance:none!important;
}
.no_mess{
	line-height:12rem;
	text-align:center;
	color:#d3d3d3;
	font-size:1rem;
}
.basicHead a{
	font-size: 0.8rem;
	background: url(../images/more2.png) no-repeat;
	background-size: 27%;
	padding-left: 1rem;
	background-position: left center;
}
.loadSign{
	padding-top: 6.5rem;
	padding-bottom: 10rem;
	display:none;
}
.loadSign .refresh_word{
	line-height: 4.16rem;
	font-size: 0.75rem;
	color: #313538;
}
/*login-----------------------------------*/
.loginPage{
	border-radius: 1rem;
	box-shadow: 0 0 20px #e9e9e9;
}
.club_show{
	width: 50%;
	height: 23.8rem;
	overflow: hidden;
}
.club_show img{
	display: block;
	width: 100%;
}
.login_method{
	width: 38%;
	padding:1.8rem 6%;
	padding-bottom: 0;
	background: white;
	height: 22rem;
}
.method_nav{
	line-height: 2rem;
}
.method_nav span{
	font-size: 0.75rem;
	color: #969696;
	margin-right: 2rem;
	cursor: pointer;
}
.method_nav span.cur{
	font-size: 1rem;
	color: #3c3c3c;
}
.method_nav span.cur i{
	border-bottom: 3px solid #71bd9c;
	padding-bottom: 0.2rem;
}
.loginList{
	margin-top: 2rem;
	margin-bottom: 2.2rem;
}
.loginList li span{
	font-size: 0.75rem;
	width: 3rem;
}
.loginList li{
	line-height: 2rem;
	margin-bottom: 0.75rem;
}
.loginList li input{
	line-height: 2rem;
	border:none;
	padding-left: 0.5rem;
	font-size: 0.66rem;
}
.number_out{
	margin-left: 3rem;
	border:1px solid #eeeeee;
	height: 2rem;
	position: relative;
}
.registerLi{
	font-size: 0.75rem;
}
.loginList li.registerLi span{
	width: 60%;
}
.loginList li.registerLi a{
	color: #71bd9c;
}
.loginAcsess{
	margin-top: 1.5rem;
}
.loginAcsess a{
	width: 60%;
	height: 2rem;
	background: #71bd9c;
	color: white;
	text-align: center;
	line-height: 2rem;
	border-radius: 2rem;
	display: block;
	margin: 0 auto;
	font-size: 1.16rem;
}
.loginAcsess a:hover{
	background: #313538;
}
.otherStep{
	border-top: 1px solid #969696;
	width: 100%;
	position: relative;
	text-align: center;
	height: 1.5rem;
}
.otherStep span{
	color: #969696;
	font-size: 0.75rem;
	position: absolute;
	left: 35%;
	top: -34%;
	background: white;
	padding: 0 0.4rem;
}
.other_login{
	text-align: center;
}
.other_login span{
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
	display: inline-block;
	cursor: pointer;
}
.other_login .weibo1{
	background: url(../images/graystep1.png) no-repeat;
	background-size: 100% 100%;
	margin-right: 1.66rem;
}
.other_login .weixin2{
	background: url(../images/graystep2.png) no-repeat;
	background-size: 100% 100%;
	margin-right: 1.66rem;
}
.other_login .qq3{
	background: url(../images/graystep3.png) no-repeat;
	background-size: 100% 100%;
}
.other_login .weibo1:hover{
	background: url(../images/greenstep1.png) no-repeat;
	background-size: 100% 100%;
}
.other_login .weixin2:hover{
	background: url(../images/greenstep2.png) no-repeat;
	background-size: 100% 100%;
	margin-right: 1.66rem;
}
.other_login .qq3:hover{
	background: url(../images/greenstep3.png) no-repeat;
	background-size: 100% 100%;
}
.codeLogin dt{
	width: 10.6rem;
	height: 10.6rem;
	border:3px solid #fafafa;
	margin: 0 auto;
	margin-top: 2rem;
}
.codeLogin dt canvas{
	display: block;
	width: 100%;
	height: 100%;
}
.shuaxin{
	display: block;
	width: 1.16rem;
	height: 1.16rem;
	background: url(../images/shuaxin.png) no-repeat;
	background-size: 100% 100%;
	margin: 0.5rem auto;
}
.codeLogin dd{
	font-size: 0.75rem;
	color: #3c3c3c;
	text-align: center;
	margin-top: 1rem;
	line-height: 1.4rem;
}
.codeLogin dd a{
	color: #71bd9c;
}
.dengluArea{
	display: none;
}
.loginList li span.deleteSpan{
	position: absolute;
	width: 0.75rem;
	height: 0.75rem;
	background: url(../images/btn-close.png) no-repeat;
	background-size: 100% 100%;
	right: 0.5rem;
	top: 0.7rem;
	cursor: pointer;
	display: none;
}
.loginList li span.deleteSpan:hover{
	-webkit-transform:scale(1.3);
	-moz-transform:scale(1.3)
	transform:scale(1.3);
}
.method_nav2 span{
	border-bottom: 3px solid #71bd9c;
	padding-bottom: 0.2rem;
}
.method_nav3 span i{
	border-bottom: 3px solid #71bd9c;
	padding-bottom: 0.2rem;
}
#sendMessage{
	width: 4.9rem;
	height: 2rem;
	color: white;
	text-align: center;
	line-height: 2rem;
	font-size: 0.6rem;
	padding-left: 0;
}
.sendMessage{
	background: #e1e1e1;
	border:1px solid #e1e1e1;
}
.loginList li.yzCode .number_out{
	width: 9rem;
	margin-left: 0;
}
.yzCode input.cur{
	background: #71bd9c;
	
}
.agreeTitle{
	font-size: 0.8rem;
}
.agreeDl{
	padding: 1rem 0;
	font-size: 0.7rem;
	line-height: 1.5rem;
}
.agree_out{
	padding-bottom: 4rem;
}
.agree_title{
	height: 1.5rem;
	line-height: 1.5rem;
	color: #262626;
	font-size: 0.8rem;
	margin-bottom: 0.5rem;
}
.agree_out p{
	font-size: 0.7rem;
	line-height: 1.5rem;
	margin-bottom: 0.5rem;
}
.agree_out dl dt{
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 0.8rem;
	color: #71bd9c;
}
.agree_out dl dd{
	font-size: 0.7rem;
	line-height: 1.8rem;
	margin-bottom: 0.2rem;
}
/*20180115-----------------------------------------*/
.coach_banner img{
	display: block;
	width: 100%;
}
.coach_banner{
	position: relative;
}
.coach_teach{
	position: absolute;
	width: 34rem;
	height: 17.375rem;
	background: rgba(43,159,109,0.9);
	top: 25rem;
	left: 40%;
}
.coach_teach dl{
	padding-top: 4.8rem;
	padding-left: 2.42rem;
	color: white;
}
.coach_teach dl dt{
	font-size: 1.25rem;
}
.coach_teach dl dd{
	font-size: 0.75rem;
	margin-top: 1rem;
}
.coach_teach dl dd.knowCoach{
	margin-top: 4.2rem;
}
.knowCoach a{
	display: inline-block;
	width: 11rem;
	height: 2.3rem;
	border:3px solid white;
	border-radius: 2rem;
	text-align: center;
	line-height: 2.3rem;
	font-size: 1rem;
	color: white;
	margin-right: 2rem;
}
.hot_coach{
	background: url(../images/coach2.jpg) no-repeat;
	background-size: 100%;
	background-position: top center;
}
.hot_coach_inner{
	width: 60.6rem;
	margin: 0 auto;
}
.hot_coach_inner ul li{
	width: 9rem;
	height: 30rem;
	background: rgba(170,215,196,0.9);
	margin-right: 1px;
	padding:0.3rem;
	border-radius:0.58rem;
}
.hot_coach_inner ul li dl{
	height: 100%;
	border-radius: 1rem;
	color: white;
	text-align: center;
	position: relative;
}
.hot_coach_inner ul li.cur{
	transform:scale(1.05);
	-ms-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
}
.hot_coach_inner ul li dl dt{
	font-size: 1rem;
	position: absolute;
	top: 26.4rem;
	width: 100%;
	z-index: 10;
}
.hot_coach_inner ul li dl dd{
	font-size: 0.66rem;
	position: absolute;
	width: 96%;
	top: 27.9rem;
	padding:0 2%;
	z-index: 10;
}
.hot_coach_inner ul li dl dd.coachMask{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.3);
	padding:0;
	margin: 0;
	border-radius: 1rem;
	z-index: 1;
}
.trainer{
	margin-left: -1px;
}
.trainer,.trainer img{
	width: 12rem;
	height: 30.6rem;
}
.wakeReason{
	margin: 0 auto;
	margin-top: 10rem;
	width: 58rem;
}
.wakeReason dl{
	width: 33.6rem;
	padding-top: 5.625rem;
}
.wakeReason dl dt{
	font-size: 1.5rem;
}
.wakeReason dl dd{
	font-size: 0.66rem;
	margin-top: 2rem;
}
.wakeReason img{
	width: 20rem;
}
.coachTeam{
	height: 20.08rem;
	background: url(../images/tree.jpg) no-repeat;
	background-size: cover;
	background-position: center -150px;
	margin-top: 10rem;
	padding-top:1.5rem;
}
.coachTeam dl{
	margin:5rem;
	color: white;
	padding:1rem;
	background:rgba(0,0,0,0.5);
}
.coachTeam dl dt{
	font-size: 2.5rem;
}
.coachTeam dl dd{
	font-size: 1rem;
	margin-top: 1.5rem;
}
.coachersList{
	width: 80%;
	margin: 0 auto;
	margin-top: -4rem;
}
.coachersList dl dt{
	width: 20rem;
	height: 12rem;
	background: rgba(92,155,129,0.9);
	position: relative;
}
.teachPic{
	position: absolute;
	width: 19.5rem;
	left: 1.8rem;
	top: 2rem;
	box-shadow: 0 0 20px #666;
	height:15rem;
}
.coachersList dl{
	height:17rem;
	position:relative;
}
.coachName{
	padding-top: 5rem;
	font-size: 1rem;
	margin-bottom: 1rem;
}
.coachIntro{
	font-size: 0.66rem;
	position:absolute;
	left:23rem;
	bottom:0;
	margin-left:0;
}
.coachersList li{
	margin-bottom: 2rem;
}
.tree_out{
	height: 46rem;
	background: url(../images/tree.jpg) no-repeat;
	background-size: cover;
	background-position: center -80px;
	margin-top: 10rem;
}
.treeBefore,.treeAfter{
	height: 4.75rem;
	padding-top: 4.25rem;
	cursor: pointer;
}
.treeBefore img:hover,.treeAfter img:hover{
	transform:scale(1.1);
	-ms-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-o-transform:scale(1.1);
}
.treeInner{
	width: 46rem;
	height: 25rem;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.treeInner ul{
	position: absolute;
	top: 0;
	left: 0;
}
.treeInner ul li,.treeInner ul li img{
	width: 46rem;
	height: 25rem;
}
.treeInner ul li{
	position: relative;
}
.treeInner ul li dl{
	position: absolute;
	width: 22rem;
	padding: 1rem 2rem;
	background: rgba(21,127,83,0.8);
	left: 24rem;
	bottom: 2rem;
	color: white;
}
.treeInner ul li dl dt{
	font-size: 1.25rem;
}
.treeInner ul li dl dd{
	font-size: 1rem;
}
.nav_tree{
	position: absolute;
	right: -4rem;
	top: 40%;
	width: 20px;
	height: 80px;
}
.nav_tree li i{
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background: white;
	margin: 0 auto;
	margin-top: 1px;
}
.nav_tree li{
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 5px;	
    margin-bottom: 1.25rem;
}
.nav_tree li.on{
	border:1px solid white;
	box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.invironment div.fl{
	background: url(../images/invironment2.jpg) no-repeat;
	background-size: 100% 100%;
	width: 18.5rem;
	height: 29rem;
	color: white; 
	position: relative;
}
.invironment div.fl span{
	display: block;
	position: absolute;
	width: 80%;
	padding:10%;
	left: 0;
	bottom: 2rem;
	font-size: 0.75rem;
}
.invironment img.fl{
	width: 33.5rem;
}
.invironment{
	width: 52rem;
	margin: 5rem auto;
}
.signNow{
	padding-bottom: 3rem;
	color: #71bd9c;
	font-size: 1.5rem;
}
.signNow a{
	display: block;
    width: 275px;
    height: 58px;
    border-radius: 2rem;
    font-size: 18px;
    text-align: center;
    line-height: 58px;
    background: #71bd9c;
    color: white;
    margin:5rem auto;
}
.signNow a:hover{
	background:#313538;
}
.coachSecond{
	height: 44rem;
	position: relative;
}
.know_check{
	position: absolute;
	top: 12.5rem;
	left: 9rem;
	color: white;
}
.know_check dt{
	font-size: 1.25rem;
}
.know_check dd{
	font-size: 0.75rem;
}
.checkDd1{
	margin-top: 1rem;
}
.checkDd2{
	margin-top: 2rem;
}
.checkDd2 a{
	width: 11.2rem;
	height: 2.3rem;
	border:2px solid white;
	border-radius: 2rem;
	text-align: center;
	line-height: 2.3rem;
	display: inline-block;
	font-size: 1rem;
	margin-right: 2.3rem;
	color: white;
}
.checkDd2 a:hover{
	background: #71bd9c
}
.pos_pa1{
	-webkit-animation: bounceInLeft 2s;
}
.youcanSign{
	width: 30.7rem;
	height: 17.2rem;
	background: url(../images/sign.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 6.5rem;
	bottom: -2rem;
	-webkit-animation: zoomIn 2s;
}
.youcanSign ul{
	width: 60%;
	margin: 4rem auto 1rem;
}
.youcanSign .loginAcsess a{
	font-size: 1rem;
}
.emptyMember{
	font-size: 0.75rem;
}
.trainIntro{
	width: 41rem;
	margin: 4rem auto;
}
.trainIntro dl{
	margin-bottom: 2rem;
}
.trainIntro dl dt{
	font-size: 1.5rem;
}
.trainIntro dl dd{
	font-size: 0.66rem;
	margin-top: 0.5rem;
	line-height: 1rem;
}
.trainIntro ul{
	margin: 2rem 0;
}
.trainIntro ul li{
	padding: 0.3rem 1rem;
	background: #f5f5f5;
	font-size: 0.66rem;
	margin-bottom: 0.3rem;
}
.why_you_choose .treeInner{
	width: 52rem;
	height: 24rem;
}
.why_you_choose .treeInner ul li, .why_you_choose .treeInner ul li img{
	width: 52rem;
	height: auto;
}
.why_you_choose .treeInner ul li{
	float: left;
}
.why_you_choose .treeInner ul{
	overflow: hidden;
	width: 5000px;
}
.why_you_choose{
	position: relative;
	width: 52rem;
	margin: 0 auto;
}
.why_you_choose .treeBefore {
    position: absolute;
    left: 2rem;
    top: 50%;
    margin-top: -40px;
    cursor: pointer;
    z-index: 10;
    padding: 0;
}
.why_you_choose .treeAfter {
    position: absolute;
    right: 2rem;
    top: 50%;
    margin-top: -40px;
    cursor: pointer;
    z-index: 10;
    padding: 0;
}
.wakeReason2{
	position: absolute;
	background: rgba(25,139,88,0.8);
	width: 40rem;
	color: white;
	bottom: -15.58rem;
	left: 10rem;
	margin-bottom: 8rem;
}
.wakeReason2 dl{
	padding: 2.5rem;
	width: auto
}
.wakeReason2 dl dd{
	margin-top: 1rem;
}
.why_you_choose2{
	width: 33.5rem;
}
.why_you_choose2 .treeInner{
	width: 33.5rem;
	height: 29rem;
}
.why_you_choose2 .treeInner ul li, .why_you_choose2 .treeInner ul li img{
	width: 33.5rem;
	height: 29rem;
}
.why_you_choose2 .treeInner ul li{
	float: left;
}
.why_you_choose2 .treeInner ul{
	overflow: hidden;
	width: 5000px;
}
.why_you_choose2{
	position: relative;
	width: 33.5rem;
	margin: 0 auto;
}
.why_you_choose2 .treeBefore {
    position: absolute;
    left: 2rem;
    top: 50%;
    margin-top: -40px;
    cursor: pointer;
    z-index: 10;
    padding: 0;
}
.why_you_choose2 .treeAfter {
    position: absolute;
    right: 2rem;
    top: 50%;
    margin-top: -40px;
    cursor: pointer;
    z-index: 10;
    padding: 0;
}
.wePromise{
	width: 100%;
	height: 24rem;
	background: url(../images/tree.jpg);
	background-size: cover;
	background-position: center -150px;
	padding-top: 8rem;
	background-color: black;
}
.wePromise dl{
	padding: 3rem 7rem;
	width: 38rem;
	background: rgba(255,255,255,0.8);
	margin: 0 auto;
}
.wePromise dl dt{
	font-size: 1.5rem;
	color: #1e1e1e;
	margin-bottom: 1rem;
}
.wePromise dl dd{
	font-size: 0.75rem;
	line-height: 1.2rem;
}
.answerArea img{
	width: 100%;
}
.answerArea{
	margin-bottom: 6rem;
}
/**/
.slideBox{ width:100%; height:46rem; overflow:hidden; position:relative;}
.slideBox .hd{ 
    right: 5rem;
    top: 40%;
    width: 20px;
    height: 120px; 
    overflow:hidden;
    position:absolute;
    z-index:1; 
}
.slideBox .hd ul{ 
	overflow:hidden;
	 zoom:1;  
}
.slideBox .hd ul li{ 
	cursor:pointer; 
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 1.25rem;
}
.slideBox .hd ul li.on{ 
	border: 1px solid white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
}
.slideBox .hd ul li i{
	display: block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: white;
    margin: 0 auto;
    margin-top: 1px;
}

.slideBox .bd{ position:relative; height:25rem; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:46rem; height:25rem; display:block;  }
.why_you_choose .slideBox .bd {
    position: relative;
    height: 24rem;
    z-index: 0;
}
.why_you_choose .slideBox{
	height: 24rem;
}
.certificate{
	width: 52rem;
	padding-bottom: 5rem;
	box-shadow: 0 5px 10px #eaeaea;
	border-radius: 0.8rem;
	margin: 5rem auto;
	background:white;
}
.certificate h3{
	text-align: center;
	line-height: 9.8rem;
	font-size: 1.5rem;
	font-weight: normal;
}
.checkCerti{
	width: 33.33rem;
	margin: 3rem auto 0;
}
.checkCerti span{
	font-size: 1rem;
	margin-bottom: 0.5rem;
	display: block;
}
.checkCerti input{
	display: block;
	width: 97%;
	height: 2rem;
	border:1px solid #b5b5b5;
	padding-left: 3%;
	color: #d7d7d7;
	font-size: 0.75rem;
}
.checkCerti a{
	width: 10rem;
	height: 2rem;
	background: #71bd9c;
	color: white;
	font-size: 1.16rem;
	margin: 7rem auto 0;
	display: block;
	text-align: center;
	line-height: 2rem;
	border-radius: 2rem;
	box-shadow: 0 3px 10px #dedede;
}
.checkCerti a:hover{
	background: #313538;
}
.honorTitle{
	text-align: center;
	font-size: 1rem;
	margin-top: -2rem;
	margin-bottom: 1.25rem;
}
.certificatePic{
	display: block;
	margin: 0 auto;
}
.certificate2{
	margin-top: -3rem;
}
.certificate2 .honorTitle{
	margin-top: 0;
	padding-top: 2rem;
}
.termMember{
	border-bottom: 2px solid #71bd9c;
	margin: 0 1rem;
	margin-top: 2rem;
	padding-bottom: 0.5rem;
}
.termMember span{
	width: 50%;
	text-align: center;
	color: #71bd9c;
}
.txtScroll-top{ 
	overflow:hidden;
	position:relative; 
}
.txtScroll-top .bd{
	margin: 0 1rem;
}
.txtScroll-top .infoList li{ 
	height:2.8rem;
 	line-height:2.8rem;   
 	border-bottom:1px solid #e6e6e6;
}
.txtScroll-top .infoList li span{
	width: 50%;
	text-align: center; 
	font-size: 0.8rem;
}
.pa1 {
    -webkit-animation: zoomIn 2s;
}
.chooseLike{
	background:#fafafa;
	padding-bottom: 1rem;
}
.chooseLike .chooseTj{
	background: white;
	position: relative;
}
.hotChoose ul li a{
	width: 7.9rem;
	height: 2.5rem;
	border-radius: 0.58rem;
	font-size: 0.75rem;
	text-align: right;
	padding-right: 0.5rem;
	padding-top: 0.75rem;
	margin-right: 0.48rem;
	box-shadow: 0 0 10px #eeeeee;
}
.hotChoose ul li a:hover{
	box-shadow: 0 0 30px #eaeaea;
}
.hotChoose ul li a.hotLike1{
	background:url(../images/hotchoose1.png) no-repeat;
	background-size: cover;	
}
.hotChoose ul li a.hotLike2{
	background:url(../images/hotchoose2.png) no-repeat;
	background-size:cover;
}
.hotChoose ul li a.hotLike3{
	background:url(../images/hotchoose3.png) no-repeat;
	background-size:cover;
}
.hotChoose ul li a.hotLike4{
	background:url(../images/hotchoose4.png) no-repeat;
	background-size: cover;
}
.hotChoose ul li a.hotLike5{
	background:url(../images/hotchoose5.png) no-repeat;
	background-size: cover;
}
.hotChoose ul li a.hotLike6{
	background:url(../images/hotchoose6.png) no-repeat;
	background-size: cover;
	margin-right: 0;
}
.hotChoose{
	margin-bottom: 1.25rem;
	padding-top: 2rem;
}
.chooseLike #point{
	background:url(../images/point.png) no-repeat;
	width: 1rem;
	height: 1rem;
	background-size: 100% 100%;
	position: absolute;
	display: block;
}
.chooseLike .point1{
	left: 4.2rem;
	top: -1rem; 
}
.chooseLike .point2{
	left: 12.6rem;
	top: -1rem; 
}
.chooseLike .point3{
	left: 21.48rem;
	top: -1rem; 
}
.chooseLike .point4{
	left: 30.36rem;
	top: -1rem; 
}
.chooseLike .point5{
	left: 39.24rem;
	top: -1rem; 
}
.chooseLike .point6{
	left: 48rem;
	top: -1rem; 
}
.fireCourse img{
	margin-left: 0.3rem;
	width: 0.5rem;
	margin-top: 0.1rem;
}
.fireCourse {
	margin-bottom: 0.3rem;
}
.fireCourse var{
	overflow:hidden;
	text-overflow:ellipsis; 
	white-space: nowrap;
	width: 80%;
}
.fireTime{
	display: none;
}
.fireOut{
	border-radius: 0 0 0.3rem 0.3rem;
	box-shadow: 0 3px 5px #eeeeee;
	padding-top: 1.5rem;
	background:white;
}
.bounse{
	-webkit-animation: bounce 1s;
}
.videoWord dl dt i{
	border-bottom: 3px solid #71bd9c;
	padding-bottom: 2px;
}
.openSuper{
	width: 7rem;
	height: 2rem;
	background: #71bd9c;
	color: white;
	border-radius: 2rem;
	text-align: center;
	line-height: 2rem;
	font-size: 0.9rem;
	margin-top: 0.8rem;
	box-shadow: 0 3px 10px #eeeeee;
}
.openSuper:hover{
	background:#313538;
}
.innerLogin{
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.7);
    border-radius: 0;
    margin-left: 0;
    margin-top: 0;
    text-align: center;
    z-index: 100;
}
.m .login_method{
	margin: 3rem auto 0;
	border-radius: 0.58rem;
	width: 34%;
	padding:1.5rem 6%;
	background: white;
	height:auto;
}
.m .loginList{
	margin:20px 0;
}

/**/
.boxParent{
	position: relative;
	width: 1100px;
	height: 214px;
	overflow: hidden;
	margin:1rem auto 2rem;
	padding-bottom: 10px;
}
.boxscroll{	
	width: 1100px;
	position: relative;
	height: 214px;
	padding-bottom: 1rem;
}
.boxscroll ul{
	width: 3000px;
	position: absolute;
	left: 0;
	top: 0;
}
.boxscroll ul li{
	width: 260px;
	margin-right: 5px;
	float: left;
	cursor: pointer;
}
.boxscroll ul li dt{
	width: 260px;
	height: 158px;
	position: relative;
	border-radius: 0.58rem;
}
.boxscroll ul li dt img.littlePoster{
	width: 260px;
	height: 158px;
	border-radius: 0.58rem;
}
.boxscroll ul li dt .boxMask{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	left: 0;
	top: 0;
	border-radius: 0.58rem;
}
.boxscroll ul li dt .floatSign{
	position: absolute;
	right: 1.25rem;
	top: 0;
	z-index: 10;
}
.boxscroll ul li dd{
	padding:0 0.5rem;
}
.boxscroll ul li dd.fitYourself{
	font-size: 0.75rem;
	padding: 0.5rem;
}
.leftBox{
	position: absolute;
	left: 10px;
	top: 24%;
	z-index: 10;
	width: 20px;
	cursor: pointer;
	background: rgba(0,0,0,0.3);
	padding: 0.1rem;
	border-radius: 0.2rem;
}
.rightBox{
	position: absolute;
	right: 10px;
	top: 24%;
	z-index: 10;
	width: 20px;
	cursor: pointer;
	background: rgba(0,0,0,0.3);
	padding: 0.1rem;
	border-radius: 0.2rem;
}
.fitYourself img{
	margin-left: 0.3rem;
    width: 0.5rem;
    margin-top: 0.1rem;
}
/*down*/
.downInner{
	width: 100%;
	height: 45rem;
	background: url(../images/download.jpg) no-repeat;
	background-size: cover;
}
.downLeft dl{
	padding-top: 8rem;
	padding-left: 8rem;
}
.downLeft dl dt img{
	width: 5.3rem;
}
.slogan{
	font-size: 2rem;
	color: #1e1e1e;
	margin: 1rem 0 0.3rem; 
}
.slogan2{
	font-size: 0.75rem;
}
.downLeft ul{
	padding-top: 8rem;
	padding-left: 8rem;
}
.downLeft ul li img{
	width: 7rem;
	border:10px solid white;
	border-radius: 0.58rem;
	display: block;
	box-shadow: 0 5px 10px #eeeeee;
	-webkit-animation: zoomIn 1s;
}
.downLeft ul li{
	margin-right: 1.25rem;
}
.downLeft ul li span{
	line-height: 3rem;
	text-align: center;
	display: block;
	font-size: 1rem;
}
.downRight{
	position: relative;
}
.downIntro1{
	position: absolute;
	width: 15rem;
	height: 26rem;
	border-radius: 1rem;
	background: rgba(26,126,80,0.7);
	top: 5rem;
	right: 15rem;
	-webkit-animation: bounceInRight 1s;
}
.downIntro2{
	position: absolute;
	width: 15rem;
	top: 8rem;
	right: 10rem;
	-webkit-animation: bounceInRight 2s;
}
.downIntro3{
	position: absolute;
	width: 15rem;
	top: 15rem;
	right: 5.5rem;
	-webkit-animation: bounceInRight 3s;
}
.boxscroll ul li.cur .boxMask{
	display: none;
}
.boxscroll ul li.lock dt .boxMask{
	background: url(../images/locked.png) no-repeat;
	background-color: rgba(0,0,0,0.5);	
	background-position: center center;
}
.closeDL{
	width: 1.25rem;
	height: 1.25rem;
	background: url(../images/btn-close.png) no-repeat;
	background-size: 100% 100%;
	display: block;
	position: absolute;
	right: 1rem;
	top: 1rem;
	cursor: pointer;
}
.login_method{
	position: relative;
}
.beforeVideo{
	display: inline-block;
	padding: 0.1rem 0.3rem;
	background: #416477;
	border-radius: 0.2rem;
	font-size: 0.66rem;
	color: white;   
    border-radius: 0.2rem;
    margin-right: 0.3rem;
}
.firstVideo{
	display: inline-block;
	padding: 0.1rem 0.3rem;
	background: #00cdcd;
	border-radius: 0.2rem;
	font-size: 0.66rem;
    color: white;    
    border-radius: 0.2rem;
    margin-right: 0.3rem;
}
.ingVideo{
	display: inline-block;
	padding: 0.1rem 0.3rem;
	background: #71bd9c;
	border-radius: 0.2rem;
	font-size: 0.66rem;
    color: white;    
    border-radius: 0.2rem;
    margin-right: 0.3rem;
}
/*index*/
.scaleBanner ul{
	position: relative;
	width: 100%;
	height: 33rem;	
}
.scaleBanner ul li{
	width: 20%;
	height: 33rem;
	cursor: pointer;
}
.scaleBanner ul li span{
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 18px;
	background:url(../images/black.png) no-repeat;
	background-size:100% 100%;
	padding:20px 0;
}
.scaleBanner ul li:hover{
	/*-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1)
	transform:scale(1.1);*/
	z-index: 10;
	box-shadow: 0 0 10px #e0e0e0;
}
.firstScale{
	position: absolute;
	left: 0;
	top: 0;
}
.secondScale{
	position: absolute;
	left: 20%;
	top: 0;
}
.thirdScale{
	position: absolute;
	left: 40%;
	top: 0;
}
.forthScale{
	position: absolute;
	left: 60%;
	top: 0;
}
.fifthScale{
	position: absolute;
	left: 80%;
	top: 0;
}
.livehouse{
	height: 24rem;
	background: url(../images/club.png) no-repeat;
	background-size: cover;
	position: relative;
}
.innerHouse{
	width: 42.58rem;
	height: 24rem;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -21.29rem;
}
.innerHouse  img{
	display: block;
	width: 100%;
}
.innerHouse span{
	width: 4.25rem;
	height: 4.25rem;
	display: block;
	background: url(../images/power1.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -2.125rem;
	margin-top: -2.125rem;
	cursor: pointer;
}
.onlineShow{
	padding: 1rem 0 2rem;
	font-size: 0.75rem;
}
.zhiboList li dt span{
	width: 2.2rem;
	height: 2.2rem;
	display: block;
	background: url(../images/power1.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -1.1rem;
	margin-top: -1.1rem;
	cursor: pointer;
	display: none;
}
.allStyle li{
	width: 12.7rem;
    margin-right: 0.6rem;
    height: 7rem;
    border-radius: 0.3rem;
}
.allStyle li:nth-child(4n) {
    margin-right: 0;
}
.allStyle li dl {
    border-radius: 0.3rem;
    position: relative;
}
.allStyle li dt {
    height: 7rem;
    overflow: hidden;
    border-radius: 0.3rem;
}
.allStyle li dt img {
    width: 100%;
    border-radius: 0.3rem;
}
.allStyle li dl .courseName2{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.3);
	text-align: center;
	padding: 0;
	border-radius: 0.3rem;
	color: white;
	line-height: 7rem;
	font-size: 1rem;
}
.club_zs{
	margin-bottom: 3rem;
}
.club_zs img,.club_zs2 img{
	display: block;
	width: 100%;
}
.club_zs2{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 3rem;
}
.guessu_heart{
	background: #fafafa;
	padding: 3rem 0;
}
.heartInner{
	width: 52.8rem;
    margin: 0 auto;
}
.heartTitle,.heartTitle img{
	width: 14.5rem;
}
.heartInner ul{
	margin-left: 15.75rem;
	position:relative;
}
.heartInner ul li{
	width: 49%;
	margin-bottom: 0.6rem;
}
.heartInner ul li.starList:hover{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	transform:scale(1.1);
	z-index:10;
}
.heartInner ul li:nth-child(1){
	position:absolute;
	left:0;
	top:0;
}
.heartInner ul li:nth-child(2){
	position:absolute;
	left:50%;
	top:0;
}
.heartInner ul li:nth-child(3){
	position:absolute;
	left:0;
	top:50%;
}
.heartInner ul li:nth-child(4){
	position:absolute;
	left:50%;
	top:50%;
}
.heartInner ul li dl dt img{
	display: block;
	width: 100%;
	border-radius: 0.58rem;
	height: 10.8rem;
}
.heartInner ul li dl {
	position: relative;
}
.heartInner ul li dl dd{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	left: 0;
	top: 0;
	color: white;
	border-radius: 0.58rem;
}
.heartInner ul li dl dd span{
	position: absolute;
	display: block;
	width: 96%;
	padding: 0 2%;
	text-align: left;
	font-size: 0.75rem;
	left: 0;
	bottom: 0.5rem;
	overflow:hidden;
	text-overflow:ellipsis; 
	white-space: nowrap;
}
.articleList .falseOl{
	padding-top: 0.5rem;
}
.articleList .falseOl var{
	width: 100%;
	height: 1.66rem;
	line-height: 1.66rem;
	font-size: 0.75rem;
	margin-bottom: 0.5rem;
	cursor: pointer;
	display:block;
}
.articleList .falseOl var span{
	display: block;
	padding: 0 3%;
	overflow:hidden;
	text-overflow:ellipsis; 
	white-space: nowrap;
}
.articleList .falseOl var:hover{
	background: #71bd9c;
	color: white;
}
.articleList .falseOl var:hover a{
	color: white;
}
/*vipIntroduce*/
.vipIntroduce{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.7);
	border-radius: 0;
	margin-left: 0;
	margin-top: 0;
	color: white;
	text-align: center;
	z-index: 100;
	display: none;
}
.vipIntroduce2{
	width: 1100px;
	height: 672px;
	position: absolute;
	left: 50%;
	top: 120px;
	background: rgba(0,0,0,0.7);
	border-radius: 0;
	margin-left: -550px;
	color: white;
	text-align: center;
	z-index: 100;
	display: none;
	border-radius:0.58rem;
}
.guanbi{
	display:block;
	width:1.25rem;
	height:1.25rem;
	background:url(../images/btn-close2.png) no-repeat;
	background-size:100% 100%;
	cursor:pointer;
	position:absolute;
	right:1rem;
	top:1rem;
}
.wordMember{
	color: white;
	font-size: 16px;
	padding: 100px 0 60px;
	line-height: 30px;
	display: none;
}
.wordMember a{
	color: #71bd9c;
	text-decoration: underline;
	margin:0 10px;
	font-size: 18px;
}
.wordMember i{
	font-size: 20px;
	margin: 0 10px;
}
.wordMember span{
	display: block;
	margin-bottom: 30px;
}
.openWakeOpenVip dt a{
	padding: 10px 25px;
	color: white;
	background: #71bd9c;
	border-radius: 20px;
	font-size: 16px;
}
.openWakeOpenVip dd{
	margin-top: 50px;
	font-size: 14px;
}
.wakeVippower{
	margin-top: 30px;
	padding-left: 250px;
}
.wakeVippower li{
	width: 92px;
	height: 92px;
	border-radius: 46px;
	border:2px solid #71bd9c;
	margin-right: 70px;
	display: inline-block;
}
.wakeVippower li:last-child{
	margin-right: 0;
}
.wakeVippower li div{
	width: 88px;
	height: 88px;
	border-radius: 44px;
	background:#71bd9c;
	color: white;
	line-height: 88px;
	font-size: 18px;
	margin: 2px auto;
}
/*20180129-----------------------*/
#broadcast,#broadcast .boxscroll{
	height: 120px;
}
#broadcast dl{
	background: #f0f0f0;
	border-radius: 0.58rem;
	padding: 0.5rem 0.75rem;
	height: 102px;
}
#broadcast dl .fitYourself span:first-child{
	margin-bottom: 0.2rem;
}
#broadcast dl .fitYourself{
	padding-bottom: 0.3rem;
}
#broadcast .leftBox,#broadcast .rightBox{
	top: 33%;
}
#broadcast dl.cur{
	background: rgba(0,0,0,0.5);
	color: white;
}
#broadcast li.cur dl{
	background: rgba(0,0,0,0.5);
	color: white;
}
.vipMark{
	margin-right: 10px;
}
.user .vipMark img{
	width: 26px;
	height: 26px;
	border:none;
	display: block;
}
.user .vipMark i{
	font-size: 14px;
	padding-top: 2px;
	color: #71bd9c;
	display: block;
	width: 26px;
	text-align: center;
}
#video-play-btn {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .15);
    background-image: url(../images/power1.png);
    background-position: center;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: background-color .5s;
}
.headerCur{
	background:white!important;
	height:60px!important;
	border-bottom:1px solid #f0f0f0!important;
}
.trainList{
	position: relative;
	height: 100px;
}
.train_inner{
	position: absolute;
	top:30px;
	left: 0;
	display: none;
	background:white;
	border:1px solid #71bd9c;
	border-top:none;
	border-radius:0.2rem;
	display:none;
}
.navList2 li .train_inner a{
	font-size: 12px;
	height: 36px;
	display: block;
	line-height: 36px;
	text-align: center;
	width:80px;
}
.navList2 li .train_inner a:hover{
	background: rgba(255,255,255,0.7);
	color: #71bd9c;
}
.mainTop{
	margin-top:84px;
	margin-bottom:2rem;
}
.reply{
	color: #71bd9c;
}
.vjs-control-bar{
	opacity:1!important;
}
.vjs-button > .vjs-icon-placeholder:before{
	line-height:2em!important;
}






















